:root {
  --clr-primary-400: hsl(31, 77%, 52%);
  --clr-primary-300: hsl(184, 100%, 22%);
  --clr-primary-200: hsl(179, 100%, 13%);
  

  --clr-neutral-200: hsla(0, 0%, 100%, 0.75);
  --clr-neutral-100: hsl(0, 0%, 95%);

  --fw-regular: 400;
  --fw-bold: 700;

  --ff-accent: 'Fraunces', serif;
  --ff-base: 'Lexend Deca', sans-serif;

  

}









/* genral-styling */

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 0.938;
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-200);
  display: grid;
  place-content: center;
  margin: 1rem;
}

/*product styles */

.cointaner {
  padding: 10rem 2rem; 
  
 /* grid-template-rows: 1fr 1fr 1fr; */
}

.box {
  padding: 2.5rem;
  
}
.box-1 {
  background-color: var(--clr-primary-400);
 /* border-top-right-radius: 1rem; */
 /* border-top-left-radius: 1rem; */
}
.box-2 {
  background-color: var(--clr-primary-300);
}
.box-3 {
  background-color: var(--clr-primary-200);
/*  border-bottom-left-radius: 1rem; */
 /* border-bottom-right-radius: 1rem; */
}

.wapper {
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 1rem;
  margin: 2rem 0.5rem;
  overflow: hidden;
  max-width: 46rem;
  
}




.box p {
  color: var(--clr-neutral-200);
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  line-height: 1.6;
  word-spacing: 0.313rem;
  margin-top: 1.25rem;
}

.box h2 {
  text-transform: uppercase;
  font-family: var(--ff-accent);
  font-size: 1.875;
  margin-top: 1.25rem;
}

.box button {
  background-color: var(--clr-neutral-100);
  padding: 13px 32px;
  border-radius: 26px;
  margin-top: 60px;
  display: inline-block;
}

.box-1 button {
  color: var(--clr-primary-400);
  cursor: pointer;
  display: inline-block;
  border: 0.125rem solid var(--clr-neutral-100);
  
  
}

.box-1 button:hover {
  color: var(--clr-neutral-100);
  background: transparent;
  
  
}

.box-2 button {
  color: var(--clr-primary-300);
  cursor: pointer;
  display: inline-block;
  border: 0.125rem solid var(--clr-neutral-100);
}

.box-2 button:hover {
  color: var(--clr-neutral-100);
  background: transparent;
}

.box-3 button {
  color: var(--clr-primary-200);
  cursor: pointer;
  display: inline-block;
  border: 0.125rem solid var(--clr-neutral-100);
}

.box-3 button:hover {
  color: var(--clr-neutral-100);
  background: transparent;
}


@media (min-width:639px) {
  .wapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

.attribution {
  position: absolute;
  bottom: 0;
  padding: 15px;
}
